:root {
    --cor_1: #E0E1E2;
    --cor_2: #2416BF;
    --cor_3: #4D9DE0;
    --cor_5: #FC1B62;
    --cor_6: #FF6B00;
    --cor_4: #26DB17;
}

button {
    height: 75px !important;
    width: 225px;
}

.logo_principal{
    color: var(--cor_4);
    padding-top: 100px;
}